*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
}

.login-wrapper > h2{
    font-size: 24px;
    color: rgb(36, 36, 32);
    margin-bottom: 20px;
}

#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: white;
    font-size: 16px;
    background-color: rgba(255,200,0,255);
    margin-top: 20px;
    font-weight: bold;
}


.link {
    text-align: center;
}

.link a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

.signBtn {
    margin:auto;
    margin-top: 25px;
}

.signBtn a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

.form-text {
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}