<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/login.css">
        <title>login page</title>
    </head>

    <body>
        <script type="text/javascript" src="login.js"></script>
        
        <div class="login-wrapper">
            <h2>로그인</h2>
            <form method="post" action="/members/login" id="login-form">
                <input type="text" name="email" placeholder="Email" required onchange="test()">
                <input type="password" name="password" placeholder="Password" required onchange="test()">

                <div class="link">
                    <a href="/members/join">회원가입</a>
                </div>
                <input type="submit" value="Login">
            </form>
            
        </div>
    </body>

</html>