<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action method="post"  th:object="${memberDto}">
        <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요">
        <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요">
        <input type="password" th:field="*{password}" placeholder="비밀번호 입력">
        <button type="submit">Submit</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>
</body>
</html>