<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	page reservation

	<form action="/post" accept-charset="utf-8" method="post">
		<input type="hidden" name="_method" value="put" />
		
		
		<input type="file" accept="image/*" > 
		<label type="text" name="location" /> 
			<select name="location">
				<option value="">장소를 선택</option>
				<option value="Seoㅡyeon">서면</option>
				<option value="das">정문</option>
		<br> 내용 : <input type="text" name="content" /><br>
		<br> <br> <input type="submit" value="작성" />
	</form>

	<br>
	---------------------------------------------------------------
	<br>

	<div id="list"></div>

	<form action="/post" accept-charset="utf-8" method="post">
		<input type="hidden" name="_method" value="delete" />
		<fieldset style="width: 150">
			<legend>개인 정보 입력</legend>
			삭제할 예약 번호 : <input type="text" name="num" /><br>
			<br>
		</fieldset>
		<input type="submit" value="delete" />
	</form>
<html>
</body>

</html>
<!-- 
<script>$(document).ready(function () {
		$.ajax({
			url: "/post",
			type: "GET",
			data: "",
			dataType: "json",
			contentType: "application/json;charset=UTF-8",
			async: false,
			success: function (data) {
				console.log(data[0]);
				console.log(data[1]);
				console.log(data[2]);
			},
			error: function (xhr, status, error) {
				alert(xhr.responseText);
			},
			complete: function (xhr, status) { }
		});
	});
</script>
 -->